fastapi
uvicorn
python-dotenv
psycopg2-binary
pandas
openpyxl
python-multipart
fastembed
langchain-text-splitters
groq==0.37.1
langgraph==1.2.9
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
